<div class="info-box {{ styleModifier }}">
	<p>Cases which you have already answered have a green marker; those waiting for a response have a yellow marker.</p>

	<p>Click on the relevant case number to see all the messages associated with that case ; you can also send a reply to the referrer.</p>

	<p>After you have looked at a case, the details on this screen  are shown in grey; if subsequently there are new messages for the case, it will be shown in black again and there will be an orange warning symbol to draw in your attention.</p>
</div>