<dl class="dl-horizontal dl-left">
    <dt>Subject:</dt>
    <dd>New referral - patient Test case</dd>
    <dt>Message from:</dt>
    <dd><a href="#">Mr Donald Duck</a></dd>
    <dt>Case no:</dt>
    <dd><a href="#">test</a></dd>
</dl>