<dl class="dl-horizontal">
    <dt>Subject:</dt>
    <dd>New referral - patient Test case</dd>
    <dt>Message from:</dt>
    <dd><a href="#">Mr Donald Duck</a></dd>
    <dt>Case no:</dt>
    <dd><a href="#">test</a></dd>
    <dt>Extra long text is here what happens when it is really really long:</dt>
    <dd><a href="#">test</a></dd>
</dl>