<div class="summary-list bg-light-blue">
<div class="row">
    <div class="col-xs-6">
        <dl class="dl-horizontal two-cols">
            <dt>Patient name:</dt>
            <dd>Test</dd>
            <dt>Sex:</dt>
            <dd>n/a</dd>
            <dt>Hospital:</dt>
            <dd>Royal Masonic Homeopathy Hospital</dd>
            <dt>No of messages:</dt>
            <dd>1</dd>
            <dt>Referral type:</dt>
            <dd>Patient-related clinical query(relating go a specific patient)</dd>
            <dt>Time to first reply:</dt>
            <dd>n/a day(s)</dd>
        </dl>
    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal two-cols">
            <dt>Age:</dt>
            <dd>n/a</dd>
            <dt>Referrer:</dt>
            <dd>Mr Donald Duck</td>
            <dt>City, country:</dt>
            <dd>London, United Kingdom
            <dt>Date of referral:</dt>
            <dd>29-Sep-2016</dd>
            <dt>No of queries:</dt>
            <dd></dd>
            <dt>Folow up data:</dt>
            <dd></dd>
        </dl>
    </div>
</div>
</div>
