<p>
	<a href="#" onclick="showLoader()">Show loader</a>
</p>
<p>
	background here
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	{% include "atoms-headings" %}
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<hr />
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
	<p><br/></p>
</p>
<div class="loading" data-loader="y" style="display: none;">Loading&#8230;
<h5 class="loading-message" data-loader="y" style="display: none;">Working: Please do <u>not</u> press the Back button or Refresh the page.</h5>
</div>