

<br /> 
<a tabindex="0" role="button" data-toggle="popover" data-trigger="focus hover" data-placement="right" data-content="General Referral<br />
<br />
Primary reason: Other(Part of a larger dataset to test case sorting)<br />
<br />
1. PRESENTING COMPLAINT<br />
       Presenting complaint<br />
<br />
2. HISTORY OF PRESENTING COMPLAINT<br />
       History of presenting complaint<br />
<br />
3. PAST MEDICAL HISTORY<br />
       PMH<br />
<br />
4. PHYSICAL EXAMINATION<br />
       Physical examination<br />
<br />
5. INVESTIGATIONS<br />
       Investigations<br />
<br />
6. WORKING DIAGNOSIS<br />
   ..." data-original-title="" title="">Preview</a>