<p>
	 <a href="#" onclick="return showError('testErrorDiv', 'Error, Panic!')">Show error</a>
</p>
<p>
	 <a href="#" onclick="return hideError('testErrorDiv')">Hide error</a>
</p>
<div class="alert alert-danger" role="alert" id="testErrorDiv" style="display: none"></div>