<div class="vertical-space"></div>
<i class="fa fa-paperclip" aria-hidden="true"></i> 2 Attached file(s)
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>File </th>
        <th>File name </th>
        <th>Size (kB) </th>
        <th>Legend </th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="image.php?m_id=11679" target="_blank">test-image-1.jpg</a></td>
        <td>2058</td>
        <td>test 1</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href="image.php?m_id=11680" target="_blank">renamed-2.jpg</a></td>
        <td>355</td>
        <td>test 2</td>
    </tr>
</table>