
<div class="table-container">
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Status</h5></div>
			</a>
		</th>
		<th>
			<a class="active asc">
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Case</h5></div>
				<div class="table-sorter">{% include "atoms-arrow-up-icon" %}</div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Referral</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Query</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Last message</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Allocated</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Patient</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Sex</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Age</h5></div>
			</a>
		</th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Referrer</h5></div>
			</a>
		</th>
	</tr>
</thead>
<tfoot style="background-color: #f2f2f2;">
	<tr>
		<td colspan="11">{% include "atoms-table-footer" %}</td>
	</tr>
</tfoot>
<tr class="read">
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td><i class="fa fa-square status-red" aria-hidden="true"></i></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td class="patient-cell">
		<div class="check-patient"><a class="read" href="">{% include "atoms-exclamation-icon" %}</a></div>
		This patient
	</td>
	<td class="date-cell">
		26-Jul-2016
		<sup>17:31</sup>
	</td>
	<td>1234567890abc</td>
	<td class="icon-cell">
		{% include "atoms-heartbeat-icon" %}
	</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr class="read">
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td><i class="fa fa-square status-green" aria-hidden="true"></i></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td class="patient-cell">
		<div class="check-patient"><a class="read" href="">{% include "atoms-exclamation-icon" %}</a></div>
		This patient
	</td>
	<td class="date-cell">
		26-Jul-2016
		<sup>17:31</sup>
	</td>
	<td>1234567890abc</td>
	<td class="icon-cell">
		{% include "atoms-heartbeat-icon" %}
	</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr class="read">
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td><i class="fa fa-square status-yellow" aria-hidden="true"></i></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td class="patient-cell">
		<div class="check-patient"><a class="read" href="">{% include "atoms-exclamation-icon" %}</a></div>
		This patient
	</td>
	<td class="date-cell">
		26-Jul-2016
		<sup>17:31</sup>
	</td>
	<td>1234567890abc</td>
	<td class="icon-cell">
		{% include "atoms-heartbeat-icon" %}
	</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr class="unread">
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
          <i class="fa fa-exclamation fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td><i class="fa fa-square status-none" aria-hidden="true"></i></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td class="patient-cell">
		<div class="check-patient"><a href="">{% include "atoms-exclamation-icon" %}</a></div>
		This patient
	</td>
	<td class="date-cell">
		26-Jul-2016
		<sup>17:31</sup>
	</td>
	<td>1234567890abc</td>
	<td class="icon-cell">
		{% include "atoms-heartbeat-icon" %}
	</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
</table>

</div>
