
<div class="table-container">
<table class="table table-striped table-striped-double">
	<thead>
		<tr>
			<th></th>
		<th>
			<a>
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Status</h5></div>
			</a>
		</th>
		<th>
			<a class="active asc">
				<div class="asc-desc">{% include "atoms-sort-icon" %}</div>
				<div><h5>Case</h5></div>
				<div class="table-sorter">{% include "atoms-arrow-up-icon" %}</div>
			</a>
		</th>
	</tr>
</thead>
<tr>
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td>
		This patient
	</td>
	<td>160</td>
</tr>
<tr>
	<td colspan="3">text text pijbpij hpiu </td>
</tr>
<tr>
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td>
		This patient
	</td>
	<td>160</td>
</tr>
<tr>
	<td colspan="3">text text pijbpij hpiu </td>
</tr>
<tr>
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td>
		This patient
	</td>
	<td>160</td>
</tr>
<tr>
	<td colspan="3">text text pijbpij hpiu </td>
</tr>
<tr>
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td>
		This patient
	</td>
	<td>160</td>
</tr>
<tr>
	<td colspan="3">text text pijbpij hpiu </td>
</tr>
<tr>
	<td class="read-status-cell nowrap-cell">
        <a href="#" title="Click to do something" >
          <i class="fa fa-envelope-open fa-lg" aria-hidden="true"></i>
        </a>
    </td>
	<td>
		This patient
	</td>
	<td>160</td>
</tr>
<tr>
	<td colspan="3">text text pijbpij hpiu </td>
</tr>
</table>

</div>
