<div class="container">
    <form class="form-horizontal">
		<div class="form-group">
			<label for="input1" class="col-sm-2 control-label">Find</label>
			<div class="col-sm-3">
			  <input type="email" class="form-control" id="input1" placeholder="ID">
			</div>
			<div class="col-sm-7">
			  <input type="submit" value="Submit" name="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>