<span id="passwordStrength" class="strength1">
    <span id="passwordDescription">Weak</span>
</span>
<br />
<span id="passwordStrength" class="strength2">
    <span id="passwordDescription">Better</span>
</span>
<br />
<span id="passwordStrength" class="strength3">
    <span id="passwordDescription">Medium</span>
</span>
<br />
<span id="passwordStrength" class="strength4">
    <span id="passwordDescription">Strong</span>
</span>
