<span class="bg-green">green</span>
<br />
<span class="bg-yellow">yellow</span>
<br />
<span class="bg-red">red</span>
<br />
<span class="text-red">red text</span>
<br />
<span class="bg-blue">blue</span>
<br />
<span class="bg-light-yellow">light yellow</span>
<br />
<span class="bg-light-blue">light blue</span>
