<div class="message-panel">
<div class="row panel-head">
    <div class="col-xs-12 bg-light-yellow">
        header text<span>header right</span>
    </div>
</div>
<div class="row panel-content">
    <div class="col-xs-4 bg-light-blue">
        left text
    </div>
    <div class="col-xs-8">
        right text
    </div>
</div>
</div>