<div class="message-panel">
<div class="row panel-head">
    <div class="col-xs-12 bg-light-yellow">
        header text<span>header right</span>
    </div>
</div>
<div class="row panel-content is-table-row"">
    <div class="col-xs-4 bg-light-blue">
        {% include "atoms-dl-inline-left" %}
    </div>
    <div class="col-xs-8">
        {% include "atoms-paragraph" %}
        <br /><br /><br /><br /><br />
        end long col
    </div>
</div>
</div>