<div class="message-panel">
<div class="row panel-head">
    <div class="col-xs-12 bg-light-yellow">
        header text<span>header right</span>
    </div>
</div>
<div class="row panel-content match-my-cols">
    <div class="col-xs-4 bg-light-blue">
        left text
        {% include "atoms-dl-inline-left" %}
    </div>
    <div class="col-xs-8">
        right text
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        {% include "atoms-paragraph" %}
        <br /><br /><br /><br /><br />
        end
    </div>
</div>
</div>