<header>
	<div class="header-container row no-margin">
		<div class="col-xs-4 no-padding">{% include "atoms-main-logo" %}</div>
		<div class="col-xs-4">{% include "atoms-network-logo" %}</div>
		<div class="col-xs-4">{% include "molecules-navbar-header" %}</div>
	</div>
	<h3>Welcome <span class="user-name">professor old wise owl</span> (Specialist, T1)</h3>
	{% include "molecules-navbar-top" %}
</header>