<table class="table table-striped">
	<th>
		<span class="caret"></span>
		<h5>Status</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Case</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Referral</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Query</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Last message</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Allocated</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Patient</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Sex</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Age</h5>
	</th>
	<th>
		<span class="caret"></span>
		<h5>Referrer</h5>
	</th>

<tr>
	<td><div class="list-status status-red"></div></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td>This patient</td>
	<td><span>17:31</span>26-Jul-2016</td>
	<td>1234567890abc</td>
	<td>heart</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr>
	<td><div class="list-status status-green"></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td>This patient</td>
	<td><span>17:31</span>26-Jul-2016</td>
	<td>1234567890abc</td>
	<td>heart</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr>
	<td><div class="list-status status-yellow"></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td>This patient</td>
	<td><span>17:31</span>26-Jul-2016</td>
	<td>1234567890abc</td>
	<td>heart</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
<tr class="unread">
	<td><div class="list-status status-none"></td>
	<td>160</td>
	<td>P</td>
	<td>1</td>
	<td>This patient</td>
	<td><span>17:31</span>26-Jul-2016</td>
	<td>1234567890abc</td>
	<td>heart</td>
	<td>21</td>
	<td><a class="link">Mr Donald Duck</a></td>
</tr>
</table>