<table class="summary-table bg-light-blue">
   	<tr>
   		<td class="data-title">Patient name:</td>
   		<td class="data-content">Test</td>
   		<td class="data-title">Age:</td>
   		<td class="data-content">n/a</td>
   	</tr>
   	<tr>
   		<td class="data-title">Sex:</td>
   		<td class="data-content">n/a</td>
   		<td class="data-title">Referrer:</td>
   		<td class="data-content">Mr Donald Duck</td>
   	</tr>
   	<tr>
	   	<td class="data-title">Hospital:</td>
	   	<td class="data-content">Royal Masonic Homeopathy Hospital</td>
	   	<td class="data-title">City, country:</td>
	   	<td class="data-content">London, United Kingdom</td>
	</tr>
	<tr>
   		<td class="data-title">No of messages:</td>
   		<td class="data-content">1</td>
   		<td class="data-title">Date of referral:</td>
   		<td class="data-content">29-Sep-2016</td>
   	</tr>
   	<tr>
	   	<td class="data-title">Referral type:</td>
	   	<td class="data-content">Patient-related clinical query(relating go a specific patient)</td>
	   	<td class="data-title">No of queries:</td>
	   	<td class="data-content"></td>
   	</tr>
   	<tr>
   		<td class="data-title">Time to first reply:</td>
   		<td class="data-content">n/a day(s)</td>
   		<td class="data-title">Folow up data:</td>
   		<td class="data-content"></td>
   	</tr>
</table>