<div class="row">
  <div class="col-xs-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="date">
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" placeholder="month">
      <span class="input-group-addon">/</span>
      <input type="text" class="form-control" placeholder="year">
    </div>
  </div>
</div>