<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />
    Yes
  </label>
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked />
    No
  </label>
</div>