/*
 * YOUR STYLES HERE
 */

 body {
 	font-size: 12px;
 	line-height: 1.5em;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
 }
 .no-margin {
  margin: 0;
 }
 .no-padding {
  padding: 0;
 }
/*text*/
 h1, h1 a {
 	font-size: 2em;
 	font-weight: bold;
 	color: #00494f;
 }
 h2, h2 a {
 	font-size: 1.6em;
 	font-weight: bold;
 	color: #00494f;
 }
 h2::before {
 	content: '\003e''\003e''\00a0';
 	color: #00494f;
 }
 h3, h3 a {
 	font-size: 1.3em;
 	color: #000000;
 	font-weight: normal;
 	text-align: center;
 }
 h4, h4 a {
 	font-size: 1.2em;
 	font-weight: bold;
 	text-transform: uppercase;
 }
 h5, h5 a {
 	font-size: 1em;
 	color: #000;
 	font-weight: bold;
 }
 p {
 	line-height: 1.5em;
 }
 a {
  cursor: pointer;
 }
 a.link {
 	color: #031bf7;
 	cursor: pointer;
 }
 a.link:hover {
 	text-decoration: underline;
 }
 a.footer-txtlink {
  font-size: 1em;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  padding: 0;
 }
 a.footer-txtlink:before {
  content: '\003e''\00a0';
 }
 .dropdown-menu>li:focus,
 .dropdown-menu>li:hover {
  background-color: #cae3f2 !important;
 }
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
  background: none;
 }
 .tech-info {
  font-size: 8px;
  text-align: center;
  color: #e6e6e6;
 }
 .tech-info img {
     width: 8px;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
     filter: alpha(opacity=25);
     opacity: 0.25;
 }
/*icons*/
.fa-arrow-left,
.fa-home,
.fa-minus,
.fa-plus,
.fa-question-circle,
.fa-sign-out {
  color: #4d4d4d;
}
.fa-bars,
.fa-times {
  color: #637586;
}
.status-green {
  color: #08ff3c;
}
.status-yellow {
  color: #ffed0b;
}
.status-red {
  color: #ff0303;
}
.status-none {
  color: #cccccc;
}
.fa-check,
.fa-exclamation {
  color: #ff9c00;
}
.fa-file-text-o,
.fa-paperclip {
  color: #333333;
}
/*buttons*/
 .btn {
 	  border-radius: 20px;
 }
 .btn-primary {
 	  background-color: #00494f;
 	  color: #ffffff;
 }
 .btn-danger {
  	background-color: #ffffff;
  	color: #ff0303;
  	border-color: #ff0303;
  }
  .btn-danger:hover {
  	background-color: #ff0303;
  	color: #ffffff;
  }
  .info-button {
    display: inline-block;
    cursor: pointer;
  }
  .info-button .fa {
    color: #ffffff;
    margin: 5px;
    background-color: #637586;
    border-radius: 5px;
    border: 2px solid;
    padding: 4px 5px;
  }
  .info-button:hover .fa {
    background-color: #ffffff;
    border: 2px solid #00494f;
    color: #00494f;
  }
  .info-button:active .fa {
    color: #333333;
    background-color: #cae3f2;
    border-color: #cae3f2;
  }
  .btn-toggle,
  .btn-group.open .dropdown-toggle {
    background: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-top: .4em;
  }

/*forms*/
 input, textarea {
 	width: 100%;
 	height: 30px;
 	border: 1px solid;
 	padding: 5px;
 }
 .alert {
  	border: 1px solid #ff0303;
 }

 /*list-menu : todo: Rocio to update based on design*/
 .list-menu>li {
   margin: 8px;
 }
 .list-menu li li {
   border-right: 1px solid black;
 }

/*navbar*/
.navbar {
  border-radius: none;
  min-height: auto;
}
.navbar > .container-fluid {
  padding: 0;
}
.navbar-collapse .navbar-nav {
  margin: 0;
}
.navbar-top {
  border-top: 2px solid #cae3f2 !important;
  border-bottom: 2px solid #cae3f2 !important;
  overflow: hidden;
  text-align: center;
}
.top-nav .navbar-header {
  display: inline-block;
  width: auto;
  float: right;
  top: 0;
  right: 0;
  margin-right: 0px;
}
.navbar-toggle {
  border: none;
  padding: 0;
}
.navbar-collapse {
  border: none;
  padding: 0;
}
.navbar-collapse ul {
  float: right;
}
.top-nav .navbar-collapse ul li {
  display: inline-block;
}
li a.menu-button {
  padding: 10px 20px;
}
.menu-button:hover > i {
  color: #00494f;
}
.navbar-default {
   background-color: transparent;
   border: none;
   border-radius: none;
}
.navbar-right li {
  border-left: 2px solid #cae3f2;
}

/*tables*/
 tr.unread {
  	background-color: #ffffe0 !important;
  	font-weight: bold;
 }
 th h5 {
  display: block;
 }
 .table-sorter {
  float: right;
 }
 .summary-table td {
  padding: 5px;
 }
 .summary-table .data-title {
  text-align: right;
  font-weight: bold;
 }

/*summary panel*/
div.summary-list {
  padding: 5px;
}
div.summary-list dl {
   margin-bottom: 0;
}

 /*info box*/
 .info-box {
 	border: 2px solid #cae3f2;
 	border-radius: 5px;
 	padding: 20px;
 }
 .date-cell sup {
  top: -1em;
  color: #b3b3b3  ;
 }
 .check-patient {
  display: inline-block;
  width: 10px;
  text-align: center;
 }
 th h5 {
  display: inline;
 }
 tr > td {
  padding-left: 20px !important;
 }
 .show-info {
  display: block;
 }
 .hide-info {
  display: none;
 }
 .info-box-toggle > .info-button > i {
  margin: 0;
 }
 .table-footer {
  float: right;
  margin-right: 20px;
 }
 /*helpers*/
 .vertical-space {
  padding: 1em;
 }

 /*footer menu*/
.footer-nav {
  border-top: 2px solid #cae3f2;
  border-bottom: 2px solid #cae3f2;
  background-color: #ffffff;
}
.footer-nav .navbar-left {
    display: inline-block;
    margin: 0;
  }
  .footer-nav .navbar-left li {
    border-right: 2px solid #cae3f2;
    display: inline-block;
  }
  .footer-nav .navbar-left li a {
    padding-top: 15px;
  }
  .footer-menu-list li {
    border-top: 2px solid #cae3f2;
    width: 100%;
  }
  .footer-menu-list.dropdown-menu {
    box-shadow: none;
    border: none;
    padding: 0;
  }
  ul.footer-menu-list li {
    list-style: none;
    padding: 17px 10px;
    border-left: 2px solid #cae3f2;
  }
  .footer-nav button {
    margin-right: 10px;
  }
  .footer-nav button > span {
    vertical-align: super;
    margin-left: 10px;
  }

  .header-container {
    width: 100%;
  }

  .header-container .main-logo {
    float: left;
  }

  /*header*/
  header .header-menu-toggle {
    float: right;
    cursor: pointer;
  }
  .user-name {
    text-transform: uppercase;
  }

  /*background colors*/

  .bg-light-blue {
    background-color: #cae3f2;
  }
  .bg-light-yellow {
    background-color: #ffffe0;
  }
  .bg-green {
    background-color: #08ff3c;
  }
  .bg-yellow {
    background-color: #ffed0b;
  }
  .bg-red {
    background-color: #ff0303;
  }
  .bg-blue {
    background-color: #031bf7;
  }


 /*media queries*/
@media only screen and (min-width: 768px) {
  ul.footer-menu-list {
      display: block !important;
      position: relative !important;
      margin: 0 !important;
  }
  ul.footer-menu-list li {
    display: inline-block !important;
    width: auto;
    border-top: none;
    padding: 12px 5px 14px;
  }
}