<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
		$color-white<br />
		#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f2f2f2;"></span>
		<span class="sg-label">
		$color-gray-02<br />
		#f2f2f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e6e6e6;"></span>
		<span class="sg-label">
		$color-gray-03<br />
		#e6e6e6</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cccccc;"></span>
		<span class="sg-label">
		$color-gray-04<br />
		#cccccc</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b3b3b3;"></span>
		<span class="sg-label">
		$color-gray-05<br />
		#b3b3b3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4d4d4d;"></span>
		<span class="sg-label">
		$color-gray-06<br />
		#4d4d4d</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
		$color-black<br />
		#000000</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cae3f2;"></span>
		<span class="sg-label">
		$color-light-blue<br />
		#cae3f2</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cfe4e5;"></span>
		<span class="sg-label">
		$color-green-blue<br />
		#cfe4e5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #00494f;"></span>
		<span class="sg-label">
		$color-dark-green<br />
		#00494f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #637586;"></span>
		<span class="sg-label">
		$color-gray-blue<br />
		#637586</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffe0;"></span>
		<span class="sg-label">
		$color-light-yellow<br />
		#ffffe0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff9c00;"></span>
		<span class="sg-label">
		$color-orange<br />
		#ff9c00</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fec98a;"></span>
		<span class="sg-label">
		$color-light-orange<br />
		#fec98a</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #031bf7;"></span>
		<span class="sg-label">
		$color-violet-blue<br />
		#031bf7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ff0303;"></span>
		<span class="sg-label">
		$color-red<br />
		#ff0303</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #08ff3c;"></span>
		<span class="sg-label">
		$color-green<br />
		#08ff3c</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffed0b;"></span>
		<span class="sg-label">
		$color-yellow<br />
		#ffed0b</span>
	</li>
</ul>