  <p>
    <a href="#"><div class="info-button"><i class="fa fa-trash" aria-hidden="true"></i>Delete</div></a>
  </p>
  
    <p>
    <a href="#" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i> Delete 2</a>
  </p>