<!-- Please remember to remove class nav-fixed-bottom when adding the footer menu to an organism, template or page -->
<div class="vertical-space"></div>
<nav class="navbar navbar-default navbar-fixed-bottom footer-nav">
	<ul class="nav navbar-nav navbar-left">
        <li><a href="#" class="menu-button">{% include "atoms-back-icon" %}</a></li>
        <li><a href="#" class="menu-button">{% include "atoms-home-icon" %}</a></li>
     </ul>
	<div class="btn-group dropup pull-right">
		<button type="button" class="btn btn-toggle dropdown-toggle visible-xs-block footer-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    {% include "atoms-footer-menu-toggle" %}<span>options</span>
	  	</button>
		<ul class="dropdown-menu footer-menu-list">
	    	<li><a class="footer-txtlink" href="#">Action</a></li>
	    	<li><a class="footer-txtlink" href="#">Another action</a></li>
	    	<li><a class="footer-txtlink" href="#">Something else here</a></li>
	    	<li><a class="footer-txtlink" href="#">Separated link</a></li>
	 	</ul>
 	</div>
</nav>