<nav class="navbar navbar-default navbar-fixed-bottom footer-nav">
	<ul class="nav navbar-nav navbar-left">
        <li><a href="#" class="menu-button">{% include "atoms-back-icon" %}</a></li>
        <li><a href="#" class="menu-button">{% include "atoms-home-icon" %}</a></li>
     </ul>
	<div class="btn-group dropup pull-right">
		<button type="button" class="btn btn-toggle dropdown-toggle visible-xs-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    {% include "atoms-footer-menu-toggle" %}
	  	</button>
		<ul class="footer-menu-list">
	    	<li><a href="#">Action</a></li>
	    	<li><a href="#">Another action</a></li>
	    	<li><a href="#">Something else here</a></li>
	    	<li><a href="#">Separated link</a></li>
	 	</ul>
 	</div>
</nav>