
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Link 1</a></li>
  <li role="presentation"><a href="#">Link 2</a></li>
  <li role="presentation"><a href="#">Link 3</a></li>
</ul>