<div class="panel panel-default info-box ">
	<div class="panel-body panel-summary">
		<div class="col-xs-6">
			{% include "atoms-dl-inline" %}
		</div>
		<div class="col-xs-6">
			{% include "atoms-dl-inline" %}
		</div>

	</div>
</div>