<h1>test</h1>
<div class="clearfix"></div>
<div class="info-box-toggle pull-right active">{% include "atoms-help-info-button" %}</div>
{% include "atoms-info-box" %}
<div class="info-box-lower-toggle">{% include "atoms-eye-slash" %} Hide this text</div>