<h1>test</h1>
<div class="page-info">
<div class="clearfix"></div>
<div class="info-box-toggle pull-right active">{% include "atoms-help-info-button" %}</div>
{% embed "atoms-info-box-yellow" %}
{% block extra %}
	<div class="info-box-lower-toggle">{% include "atoms-eye-slash" %} Hide this text</div>
{% endblock %}
{% endembed %}
</div>