<div class="message-panel panel panel-default">
<div class="row panel-heading bg-light-yellow">
    <div class="col-xs-12">
        22-Feb-2015 04:39:50<span>header right</span>
    </div>
</div>
<div class="row panel-body match-my-cols">
    <div class="col-xs-4">
        {% include "atoms-dl-inline-left" %}
        <a href="#" class="btn btn-default btn-xs">
            <i class="fa fa-list-alt"></i> view details of case 36</a>
    </div>
    <div class="col-xs-8 bg-light-blue">
        {% include "atoms-paragraph" %}
        <br /><br /><br /><br /><br /><br /><br /><br />
        end long col
    </div>
</div>
</div>