<div class="message-panel panel panel-default">
    <div class="row panel-heading bg-light-yellow">
        <div class="col-xs-12">
            22-Feb-2015 04:39:50<span>header right</span>
        </div>
    </div>
    <div class="row panel-body bg-light-blue">
        <div class="col-xs-12">
        {% include "molecules-inner-table" %}
        </div>
    </div>
</div>