<div class="message-panel panel panel-default">
    <div class="row panel-heading bg-light-yellow">
        <div class="col-xs-12">
            <dl class="dl-horizontal dl-left">
				<dt>To:</dt>
				<dd>name one</dd>
				<dt>From:</dt>
				<dd>name two</dd>
			</dl>
        </div>
    </div>
    <div class="row panel-body bg-light-blue">
        <div class="col-xs-12">
        {% include "atoms-dl-inline" %}
        </div>
    </div>
    <div class="row panel-footer">
        <div class="col-xs-12">
            Panel footer <span><a href="#">footer right</a></span>
        </div>
    </div>
</div>